{% load wagtailui_tags i18n %}
{% if workflow_state %}
    <h2>
        <a href="{% url 'wagtailadmin_pages:workflow_history_detail' page.id workflow_state.id %}">
            {{ workflow_state.workflow.name }}
        </a>
    </h2>
    {% if current_task_number %}
        {% blocktrans %} Task {{ current_task_number }} of {{ workflow_tasks.count }}{% endblocktrans %}: {{ task_name }}
    {% else %}
        {% trans 'Task' %}: {{ task_name }}
    {% endif %}
    <div>
        {% trans 'Approved task' as approved_title %}
        {% trans 'Incomplete task' as incomplete_title %}
        {% for task in workflow_tasks %}
            {% if task.status == 'approved' %}
                {% wagtail_icon name="success" title=approved_title %}
            {% else %}
                {% wagtail_icon name="radio-empty" title=incomplete_title %}
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'wagtailadmin_pages:workflow_history' page.id %}">
        Workflow history
    </a>
{% endif %}
