@import '../../../scss/settings/variables';

$color-red-very-dark: #901419;
$color-amber-0: #e9b04d;
$color-amber-1: #faecd5;

$color-grey-25: #626262;
$color-grey-7: #f2f2f2;
$color-grey-8: #fbfbfb;

$color-comment-separator: #e6e6e6;

$color-box-background: $color-white;
$color-box-background-focused: theme('colors.grey.50');
$color-box-border: theme('colors.grey.50');
$color-box-border-focused: theme('colors.grey.100');
$color-box-text: #262626;
$color-textarea-background: $color-white;
$color-textarea-background-focused: $color-white;
$color-textarea-border: #ccc;
$color-textarea-border-focused: #00b0b1;
$color-textarea-placeholder-text: theme('colors.grey.400');
$box-border-radius: 5px;
$box-padding: 20px;

@mixin focus-outline {
  outline: $color-focus-outline solid 3px;
}

@mixin box {
  background-color: $color-box-background;
  padding: $box-padding;
  font-size: 11px;
  border-radius: $box-border-radius;
  color: $color-box-text;
  border: 1px solid $color-box-border;

  &--focused {
    background-color: $color-box-background-focused;
    border: 1px solid $color-box-border-focused;
    box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.1);
  }

  textarea {
    font-family: $font-sans;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 12px;
    width: 100%;
    background-color: $color-textarea-background;
    border: 1px solid $color-textarea-border;
    box-sizing: border-box;
    border-radius: 5px;
    color: $color-box-text;

    &::placeholder {
      color: $color-textarea-placeholder-text;
      opacity: 1;
    }

    &:focus {
      background-color: $color-textarea-background-focused;
      border-color: $color-textarea-border-focused;
      outline: unset;
    }
  }

  *:focus {
    @include focus-outline;
  }

  &__notice-placeholder {
    position: relative;
    padding-bottom: 40px;
  }

  &__notice {
    background-color: $color-amber-1;
    position: absolute;
    // Remove once we drop support for Safari 13.
    // stylelint-disable-next-line property-disallowed-list
    left: -$box-padding;
    inset-inline-start: -$box-padding;
    bottom: 0;
    width: calc(100% + #{$box-padding} * 2);
    padding: 5px 10px;
    box-sizing: border-box;

    svg.icon {
      color: $color-amber-0;
      width: 14px;
      height: 14px;
      margin-inline-end: 10px;
      vertical-align: text-bottom;
    }
  }

  > :last-child &__notice {
    bottom: -$box-padding;
    // Remove once we drop support for Safari 14.
    // stylelint-disable-next-line property-disallowed-list
    border-bottom-left-radius: $box-border-radius;
    border-end-start-radius: $box-border-radius;
    // Remove once we drop support for Safari 14.
    // stylelint-disable-next-line property-disallowed-list
    border-bottom-right-radius: $box-border-radius;
    border-end-end-radius: $box-border-radius;
  }
}

@mixin button {
  background-color: inherit;
  border: 1px solid $color-grey-3;
  border-radius: 3px;
  color: $color-teal;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;

  &--primary {
    color: $color-white;
    border: 1px solid $color-teal;
    background-color: $color-teal;
  }

  &--red {
    color: $color-white;
    border: 1px solid $color-red-very-dark;
    background-color: $color-red-very-dark;
  }

  &:disabled {
    opacity: 0.3;
  }

  // Disable Firefox's focus styling because we add our own.
  &::-moz-focus-inner {
    border: 0;
  }
}

.comments-list {
  position: absolute;
  top: 30px;
  // Remove once we drop support for Safari 13.
  // stylelint-disable-next-line property-disallowed-list
  right: 30px;
  inset-inline-end: 30px;
  z-index: 95;
  font-family: $font-sans;
  pointer-events: none;
}

// stylelint-disable no-invalid-position-at-import-rule
@import 'components/CommentHeader/style';
@import 'components/Comment/style';
@import 'components/CommentReply/style';
