.diff-revision-selector.diff-revision-selector.diff-revision-selector.diff-revision-selector {
    font-size: .875rem;
    display: inline-block;
    width: 300px;
    padding: .5em;
    border-radius: .25em;
}

.diff-column-header {
    min-height: 2rem;
}

.diff {
    width: 90%;
    table-layout: fixed;
    background-color: #f9f8f8;
    border: solid 1px #e8e8e8;
}

.diff colgroup {
    border: 0;
}

.diff-header {
    color: #aaa;
    font-family: courier, monospace;
}

.diff-next {
    width: 0;
    overflow: hidden;
    background-color: #fff;
}

.diff-next a {
    display: none;
}

.diff-header {
    width: 2em;
}

.diff td {
    padding: .5em;
}

.diff-sub {
    background-color: #f7eaef;
}

.diff-add {
    background-color: #d9efc1;
}

.diff-chg {
    background-color: #f9f0ad;
}

.diff-title {
    text-transform: capitalize;
}

.diff-page-title {
    float: left;
    width: 45%;
    margin-right: 1.5rem;
}

.diff-full-width {
    width: 100%;
    float: none;
    clear: both;
}
